<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Detalhes do time Corinthians</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body style="background-color:width;">
    <center>
        <img src="https://upload.wikimedia.org/wikipedia/pt/b/b4/Corinthians_simbolo.png" width="250" height="250">
    </center>
    <p>       
        <b>Nome:</b>Sport Club Corinthians Paulista<br>
        <b>Fundação:</b>1 de setembro de 1910 (110 anos)<br>
        <b>Mascote:</b>mosqueteiro<br>
        <b>Estádio:</b>	Neo Química Arena<br>        
        <b>Localização:</b>São Paulo, Brasil<br>        
        <b>Treinador:</b>Vagner Mancini<br>
        <b>Patrocinador:</b>Banco BMG[<br>
        <b>Principal rival:</b>Palmeiras<br>
        <b>Competição:</b>	Campeonato Brasileiro – Série A<br>
                            Campeonato Paulista – Série A 1<br>
                            Copa do Brasil<br>
                           Copa Libertadores<br>
    </p>
        <center>
        <a href="/" class="voltar">Voltar</a>
    </center>
    
</body>
</html>