<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Detalhes do time Flamengo</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body style="background-color:tomato;">
    <center>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Escudo_do_Sport_Club_Internacional.svg/800px-Escudo_do_Sport_Club_Internacional.svg.png"width="250" height="250">
    </center>
    <p>       
        <b>Nome:</b>Sport Club Internacional<br>
        <b>Fundação:</b>	4 de abril de 1909 (111 ano)<br>
        <b>Mascote:</b>Saci<br>
        <b>Estádio:</b>Beira-Rio<br>        
        <b>Localização:</b>Porto Alegre, Brasil<br>        
        <b>Treinador:</b>Eduardo Coudet<br>
        <b>Patrocinador:</b>Banrisul<br>
        <b>Principal rival:</b>Grêmio<br>
        <b>Competição:</b>	Campeonato Brasileiro – Série A<br>
                            Campeonato Gaucho – Série A<br>
                            Copa do Brasil<br>
                            Super copa do Brasil<br>
    </p>
        <center>
        <a href="/" class="voltar">Voltar</a>
    </center>
    
</body>
</html>