<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Detalhes do time do Palmeiras</title>    
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body style="background-color:lightgreen;">
    <center>
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Palmeiras_logo.svg" width="250" height="250">
    </center>
    <p>
        <b>Nome:</b> Sociedade esportiva Palmeiras<br>
        <b>Fundação:</b>26 de agosto de 1914 (106 anos)<br>
        <b>Mascote:</b> Periquito/Porco<br>
        <b>Estádio:</b>Allianz Parque<br>        
        <b>Localização:</b>São Paulo, Brasil<br>        
        <b>Treinador:</b>Abel Ferreira<br>
        <b>Patrocinador:</b>Crefisa<br>
        <b>Principal rival:</b>Corinthians<br>
        <b>Competição:</b>	Campeonato Brasileiro – Série A<br>
                            Campeonato Paulista – Série A1<br>
                            Copa Libertadores<br>
                            Copa do Brasil<br>

    </p>
    <center>
        <a href="/" class="voltar">Voltar</a>
    </center>
    
</body>
</html>