<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Detalhes do time Flamengo</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body style="background-color:Brown;">
    <center>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Flamengo-RJ_%28BRA%29.png"width="250" height="250">
    </center>
    <p>
        <b>Nome:</b>Clube de Regatas do Flamengo<br>
        <b>Fundação:</b>15 de novembro de 1895 (124 anos)<br>
        <b>Mascote:</b>	Urubu<br>
        <b>Estádio:</b>	Gávea<br>        
        <b>Localização:</b>	Rio de Janeiro, Brasil<br>        
        <b>Treinador:</b>Rogério Seni<br>
        <b>Patrocinador:</b>BRB<br>
        <b>Principal rival:</b>Vasco da Gama<br>
        <b>Competição:</b>	Campeonato Brasileiro – Série A<br>
                            Campeonato Carioca – Série A<br>
                            Copa do Brasil<br>
                            Super copa do Brasil<br>
                            Copa Libertadores<br>
                            Recopa Sul_Americana
    </p>
        <center>
        <a href="/" class="voltar">Voltar</a>
    </center>
    
</body>
</html>