<!DOCTYPE html>
<html>
  <head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid powderblue;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: white;
    }
    tr:nth-child(odd) {
      background-color: #dddddd;
    }
    </style>
  </head>
  <body style="background-color:lightblue;">
    <center>
      <h2 style="font-size: 30px;">Tabela do Campeonato Brasileiro de Futebol 2020</h2>
    </center>
    <table style="margin-right: 50px; margin-left:35px;">
      <tr>
        <th style="width: 50px;"></th>
        <th>Times</th>
        <th>Pontos</th>
        <th>Jogos</th>
        <th>Vitórias</th>
        <th>Empates</th>
        <th>Derrotas</th>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Palmeiras_logo.svg" width="40" height="40"/></td>
        <td><a href="{{ url_for('detalhe',time='palmeiras') }}">Palmeiras </a></td> 
        <td>31</td>
        <td>19</td>
        <td>08</td>
        <td>07</td>
        <td>04</td>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Escudo_do_Sport_Club_Internacional.svg/800px-Escudo_do_Sport_Club_Internacional.svg.png" width="40" height="40"/></td>
        <td><a href="{{ url_for('detalhe',time='internacional') }}">Internacional </a></td>
        <td>36</td>
        <td>20</td>
        <td>10</td>
        <td>06</td>
        <td>04</td>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Flamengo-RJ_%28BRA%29.png" width="40" height="40"/></td>
        <td><a href="{{ url_for('detalhe',time='flamengo') }}">Flamengo </a></td>
        <td>35</td>
        <td>20</td>
        <td>10</td>
        <td>05</td>
        <td>05</td>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/pt/4/4b/S%C3%A3o_Paulo_Futebol_Clube.png" width="40" height="40"/></td>
        <td><a href="{{ url_for('detalhe',time='sao_paulo')}}">São Paulo </a></td>
        <td>33</td>
        <td>17</td>
        <td>09</td>
        <td>06</td>
        <td>02</td>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/pt/b/b4/Corinthians_simbolo.png" width="40" height="40"/></td>
        <td><a href="{{ url_for('detalhe',time='Corinthians')}}">Corinthians </a></td>
        <td>25</td>
        <td>20</td>
        <td>06</td>
        <td>07</td>
        <td>07</td>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Fluminense_FC_escudo.png" width="40" height="40"/></td>
        <td>Fluminense</td>
        <td>32</td>
        <td>20</td>
        <td>09</td>
        <td>05</td>
        <td>06</td>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Atletico_mineiro_galo.png/800px-Atletico_mineiro_galo.png" width="40" height="40"/></td>
        <td>Atlético Mineiro</td>
        <td>35</td>
        <td>19</td>
        <td>11</td>
        <td>02</td>
        <td>06</td>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/9/92/LogoSantosFC.png" width="40" height="40"/></td>
        <td>Santos</td>
        <td>31</td>
        <td>20</td>
        <td>08</td>
        <td>07</td>
        <td>05</td>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/pt/a/a1/Gremio.png" width="40" height="40"/></td>
        <td>Gremio</td>
        <td>30</td>
        <td>19</td>
        <td>07</td>
        <td>09</td>
        <td>03</td>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/pt/9/90/ECBahia.png" width="40" height="40"/></td>
        <td>Bahia</td>
        <td>25</td>
        <td>20</td>
        <td>07</td>
        <td>04</td>
        <td>09</td>
      </tr>
    </table><br>
    <center>
      <a href="/cadastro"><h2>Cadastre seu time</h2></a>
    </center>
  </body>
</html>  